@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    max-width: 1300px;
    margin: 0 auto;
}
/* top bar starthere */

.top-bar {
    width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242,243,190);
}

.top-bar p {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/* top bar end here */

/* main-header start here */

.main-header {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    position: relative;
    
}

.search-box input{
    width: 236px;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(200, 200, 200, 0.4);
    border: 2px solid rgb(200, 200, 200, 0.4);
}

.search-icon {
    position: absolute;
    left: 200px;
    top: 10px;

}

.logo p {
    font-size: 1.75rem;
    font-weight: 600;
    color: rgb(56, 56, 56);
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin-right: 50px;
}

.fav-icon {
    display: flex;
    gap: 40px;
    font-size: 20px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.nav-container a {
    text-decoration: none;
    color: rgba(56, 56, 56, 0.804);
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 15px;
    position: relative;
}

.nav-container a:hover{
    
    color: rgb(56, 56, 56);
}

.nav-container a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(248, 112, 53);
    transition: all 1s;
}

.nav-container a:hover::before {
    width: 100%;
}


/* main-header end here */

/* head banner start here  */
.color-red {
    color: rgb(234, 59, 97);

}

.header-section {
    width: 95%;
    height: 540px;
    margin: 0 auto;
    background: rgba(237, 47, 89, 0.1);
    position: relative;
    z-index: 5;
    margin-bottom: 50px;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-content {
    width: 37%;
    margin-left: 140px;
    margin-top: 140px;
}

.header-content h1 {
    font-size: 3.25rem;
    font-weight: 500;
    color: rgb(29, 29, 29);
    line-height: 64px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}


.header-content p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(56, 56, 56, 0.625);
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.header-content h5 {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(19, 19, 19);
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

 .btn-primary-2 ,.btn-primary-3{
    background: rgb(229, 84, 115);
    color: rgb(242, 237, 237);
    font-size: 0.8rem;
    font-weight: 500;
    padding: 13px 25px;
    border: 2px solid transparent;
    border-radius: 7px;
    cursor: pointer;
    transition: all .6s ease;
 }

 .btn-primary-2:hover, .btn-primary-3:hover {
    transform: scale(1.1);
 }
 

 .header-banner-img{
    width: 60%;
 }




 .font-banner-img{
    position: absolute;
    top: -25px;
    right: 100px;
    transition: all .6s ease;

 }

 .font-banner-img:hover {
    transform: translateY(-5px);

}

 .bg-banner-img {
    width: 42%;
    position: absolute;
    bottom: 4px;
    right: 100px;
    z-index: -15;
 }





/* head banner end here  */

/* oil section start here */

.oil-section {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.oil-card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.oil-card1 {
    width: 100%;
    position: relative;
}
.oil-card1-img {
    background-color: rgb(243, 243, 205);
    padding:80px 45px 80px 40px;
    width: 100%;
}


.oil-card1:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.oil-card1-img img {
    width: 100%;
    height: 100%;
}

.oil-card1-content{
    width: 100%;
    position: absolute;
    top: 8px;
    left: 40px;
    font-style: italic;
}

.oil-card1-content h3 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "poppins", sans-serif;
    color: rgb(0, 0, 0);
}

.oil-card1-content p {
    font-size: 1rem;
    font-weight: 400;
    font-family: "poppins", sans-serif;
}

.tk {
    color: rgba(0, 0, 0, 0.545);
    font-weight: 500;
}

.dis-tk {
    color: rgb(255, 2, 2);
    font-weight: 500;
}

.oil-card1-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.oil-card1-btn {
    color: rgba(0, 0, 0, 0.706);
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
    bottom: 25px;
    left: 40px;
}

.oil-card2-img {
    background-color: rgb(199, 237, 240);
    padding:80px 45px 80px 40px;
    width: 100%;
    height: 100%;
}
.oil-card2-img img{
    width: 96%;
    transform: scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
.oil-card3-img {
    background-color: rgb(235,224,199);
    padding:80px 45px 80px 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oil-card3-img img {
    width: 100%;
    transform: scale(1.25);
    transition: all 0.5s;
}

/* serum and shampoo section start here */

.serum-section, .shampoo-section {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.serum-title , .shampoo-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.serum-title h3, .shampoo-title h3 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "poppins", sans-serif;
    color: rgb(0, 0, 0);
}


.serum-title p, .shampoo-title p{
    font-size: 1rem;
    font-weight: 400;
    font-family: "poppins", sans-serif;
}



.shop-arrow-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.shop-arrow-product:hover {
    color: rgba(29, 29, 29, 0.673);
}
.shop-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.shop-arow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}


.serum-container, .shampoo-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 50px;
}


.serum-container img, .shampoo-container img{
    width: 100%;
    background-color: rgb(248,248,248);
    padding:15px 10px;
    margin-bottom: -35px;
    box-shadow: 0 0 5px 0 rgba(10, 10, 10, 0.122);
    position: relative;
}

.hover-icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    top: -150px;
    left: -20px;
}

.serum-card1, .shampoo-card1 {
    width: 100%;
}


/*  */

 .serum-card1  .hover-icon, .shampoo-card1 .hover-icon {
    position: relative;
    z-index: 50;
    opacity: 0;
    transform: translateY(30px);
    transition: all .6s;
}

.serum-card1:hover .hover-icon, .shampoo-card1:hover .hover-icon {
    opacity: 1;
    transform: translateY(0px);
    cursor: pointer;
}


.serum-container h5, .shampoo-container h5 {
    font-size: 1rem;
    font-weight: 500;
    font-family: "poppins", sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
}

.serum-container p, .shampoo-container p {
    font-size: 0.85rem;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    color: rgba(56, 56, 56, 0.882);
    margin-bottom: 8px;
}

.serum-container .serum-ratings, .shampoo-container .serum-ratings {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    color: rgba(56, 56, 56, 0.882);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ratings {
    color: rgb(248, 112, 53);
}


/* serum and shampoo container ends here */

.shower-gel-main-container{
    width: 90% ;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.girl5-container {
    width: 70%;
    height: 100%;
    display: flex;
    background-color:rgb(151, 215, 247, 0.8);
    overflow: hidden;
}


.girl5-content {
    width: 52%;
    margin-left: 60px;
    margin-top: 50px;
}

.girl5-content h3 {
    width: 135%;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(29, 29, 29);
    margin-bottom: 24px;
    line-height: 44px;
}

.girl5-content p {
    width: 100%;
    font-size: 0.85rem;
    font-weight: 300;
    color: rgb(56, 56, 56);
    margin-bottom: 16px;
}


.btn-primary-3 {
    color: rgb(0, 0, 0);
    background-color: rgb(249, 245, 245);
    border-radius: 0px;
    padding: 7px 20px;
}

.btn-primary-3:hover {
    background-color: rgb(229,84,115);
    color: rgb(255, 255, 255);
    transform: scale(1.04);
}


.girl5-img img{
    width: 70%;
    height: 100%;
    transform: scale(1.15);
    margin-left: 115px;
}


.girl5-container:hover .girl5-img{
    transition: all .5s  ;
    transform: scale(1.14) translateX(-30px);
}

.girl5-container:hover .girl5-content h3 {
    transition: all .8s;
    font-size: 2.2rem;
    font-weight: 600;
}
.girl5-container:hover .girl5-content p {
    transition: all .8s;
    font-weight: 300;
    font-size: 1rem;
}


.big2-container {
    width: 30%;
    height: 333px;
    background-color: rgb(248, 215, 249);
    overflow: hidden;
    /* position: relative;
    z-index: 1; */
}

.big2-content {
    margin-left: 15px;
    margin-top: 35px;
}

.big2-content h4 {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(19, 19, 19);
    margin-bottom: 16px;
    line-height: 28px;
}


.big2-content p {
    width: 80%;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(19, 19, 19);
    margin-bottom: 6px;
    line-height: 22px;
    margin-bottom: 20px;
}
.big2-content .btn-primary-3 {
    z-index: 50;
}

.big2-container img {
    width: 50%;
    margin-top: -68px;
    margin-left: 144px;
}


.big2-container:hover .big2-image img {
    transition: all .8s;
    transform:scale(1.1) translatex(-50px) translateY(20px); 
}

.big2-container:hover .big2-content h4 {
    transition: all .8s;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 9px;
}
.big2-container:hover .big2-content p {
    transition: all .8s;
    font-weight: 500;
    font-size: 0.9rem;
}


